# APP
APP_PORT=8090
APP_HOST=localhost

# DB
DB_PORT=27017
DB_HOST=localhost
DB_USER=
DB_PASS=
DATABASE=homeflix2

# YTS
BASEURL_GETLIST=https://yts.mx/api/v2/list_movies.json
BASEURL_GETDETAIL=https://yts.mx/api/v2/movie_details.json
LIMIT=20
PAGE=3
